NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URL=mongodb://127.0.0.1:27017/bayyina

# JWT
JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

# Cookie
COOKIE_SECRET=replace_me_cookie
COOKIE_DOMAIN=localhost

# CORS
CLIENT_URL=http://localhost:5173

# Telegram bot
TELEGRAM_BOT_TOKEN=replace_me_bot_token
TELEGRAM_BOT_ENABLED=true
